node_modules/ 
.env 
.env.local 
package-lock.json 
uploads/ 
.DS_Store 
Thumbs.db 
.vscode/ 
logs/ 
*.log 

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
